@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.navbar {
  @apply w-full text-gray-800 dark:text-gray-200 rounded-2xl h-14 p-2 flex justify-between items-center px-8 font-['Inter'] md:w-[80vw] sm:w-[90vw] xss:w-[95vw] mx-auto sm:bg-white/10 sm:backdrop-filter sm:backdrop-blur-3xl sm:border dark:sm:bg-gray-800/10 dark:sm:border-[#676767];
}

.navbar__items {
  @apply text-lg flex lg:gap-12 md:gap-8 gap-6 sm:flex xss:hidden;
}

.navbar__items-item {
  @apply hover:text-[#00982a] dark:hover:text-[#00ff47] transition-colors duration-200 cursor-pointer;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in {
  animation: fadeInUp 0.5s ease forwards;
}

.happy {
  font-family: 'Happy Monkey', system-ui;
  font-weight: 550;
  font-style: normal;
}

.logo-carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.logo-carousel {
  display: flex;
  animation: scroll 20s linear infinite;
}

.logo {
  flex-shrink: 0;
  width: 25%; /* Adjust based on how many logos you want visible at once */
  padding: 0 20px;
  opacity: 0;
  animation: fade 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}
